button#editor-btn {
    width: 100%;
    border-radius:  0px;
    border-bottom: 0px solid #154167;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    z-index: 1000;
    margin: auto;
    bottom: auto;
    top: 0px;
    height: 64px;
}


#dasher_editor_pop-up-container .modal-header .close {
    margin-top: 0px;
    position: absolute;
    right: 3%;
    opacity: 1;
}
img.hilogo {
    position: absolute;
    width: 200px;
    right:auto;
    top: 3px;
    left:0px;
    max-width:145px;
}

body.bc-editor {
    padding-top: 70px;
}
button#editor-btn {
    text-align: right !important;
    font-weight: normal;
    font-size: 1.5em !important;
    padding-top: 5px;
}
img.hilogo {
    padding-top: 3px;
    margin-left:30px;
}


div#dasher_editor_pop-up-container .modal-header {
    background: #164a77;
    color: white;
}
#dasher_editor_pop-up-container h5 {
    color: white !important;
    font-weight: bold;
    text-align: left;
}
#dasher_editor_pop-up-container .close {
    color: white !important;
    opacity: 1 !important;
}

.modal-header h5 {
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
button#save_changes_header {
    position: absolute;
    right: 4%;
    background: #9e0404;
    color: white;
    font-weight: bold;
}

#dasher_editor_pop-up-container .modal-body .nav-tabs>li>a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}
div#editorPopup {
    display: none;
    left: 0px;
    width: 100%;
    max-width: 100%;
    margin: 0px;
    transform: translate(0%, 0%);
    z-index: 99999;
    visibility: visible;
}
#dasher_editor_pop-up-container ul.nav.nav-tabs {
    padding-bottom: 0px;
    padding-top: 20px;
}
div#dasher_editor_pop-up-container input {
    font-weight: bold;
    font-size: 0.9rem;
    color:black;
}
div#dasher_editor_pop-up-container div.tabContent {
    display: none;
}

div#dasher_editor_pop-up-container div.tabContent.active {
    display: block;
}

button#editor-btn {
    z-index: 99999;
}
div#editorPopup {
    top: 33px !important;
}

#dasher_editor_pop-up-container .modal-dialog {
    max-width: 100%;
    padding: 0px;
    margin: auto;
    padding-top: 30px;
}
#dasher_editor_pop-up-container .col-sm-4.col-md-2 {
    float: left;
}

#dasher_editor_pop-up-container .modal-dialog {
    max-width: 100%;
}


#dasher_editor_pop-up-container .col-sm-4.col-md-2 {
    float: left;
}
#editorPopup .modal-dialog {
    width: 100%;
    max-width: 100%;
}

#dasher_editor_pop-up-container .col-sm-6.col-md-4 {
    float: left;
}
#dasher_editor_pop-up-container .col-sm-6.col-md-4 {
    float: left;
    min-height: 100px;
    text-align: left;
    padding: 0px 30px;
}

#dasher_editor_pop-up-container .col-sm-6.col-md-4 label {
    clear: both;
    float: left;
}

#dasher_editor_pop-up-container .col-sm-6.col-md-4 input {
    clear: both;
    float: left;
}

#dasher_editor_pop-up-container .col-sm-6.col-md-4 textarea {
    clear: both;
    float: left;
}


div#dasher_editor_pop-up-container input, #dasher_editor_pop-up-container
 textarea {
    width: 100%;
    color: white;
    background: #0000003b;
    border: 0px;
    padding: 16px 10px;
}

div#dasher_editor_pop-up-container label {
    color: white;
    font-size: 1.2em;
    text-transform: capitalize;
}
#editorPopup .modal-header {
    background: white;
}
h5#dasher_popup_header_title {
    font-weight: bold;
    padding-top: 16px;
    font-size: 1.6rem;
}
#dasher_editor_pop-up-container .col-sm-6.col-md-4 label {
    font-weight: bold;
}
#dasher_editor_pop-up-container textarea#desc {
    min-height: 0;
    margin-bottom: 30px;
    padding-bottom: 1%;
    overflow: hidden;
    z-index: auto;
    position: relative;
    line-height: 21px;
    font-size: 14px;
    transition: none;
    background: transparent !important;
}
#dasher_editor_pop-up-container .description_container {
    float: left;
    width: 100%;
    background: rgba(0, 0, 0, 0.23);
    padding-top: 20px;
    margin-bottom: 20px;
}
#dasher_editor_pop-up-container select {
    height: 40px;
}
#dasher_editor_pop-up-container .col-sm-6.col-md-4 {
    padding-left: 0px;
    padding-right: 1%;
}
div#dasher_bc_editor_modal_footer .saveProduct {
    background: #9e0403;
    font-weight: normal;
    font-size: 1.1em;
}

div#editorPopup {
    min-height: 99vh;
}

header#editor-btn {
    float: left;
    width: 100%;
    background-color: rgb(2, 117, 216);
    z-index: 1000;
    position: absolute;
    top: 0px;
    height: 65px;
}
#editor-btn button.btn.btn-secondary {
    float: right;
    margin-top: 18px;
    margin-right: 28px;
    background: #940505;
    color: white;
    border: 0px;
    border-bottom: 1px solid #750b0b;
    font-weight: normal;
    padding: 8px 40px;
    border-radius: 5px !important;
    font-size: 1.2em;
}
div#editorPopup {
    margin-top: 30px;
}
header#editor-btn {
z-index:5555;
}
header#editor-btn {
    position:fixed;

}
