<div id="pop-up-container">
    <form>


    <ul class="nav nav-tabs">

        <li role="presentation" class="active" data-tab="details"><a href="#">Details</a></li>

        <li role="presentation" data-tab="media"><a href="#">Images and videos</a></li>

        <li role="presentation" data-tab="inventory"><a href="#">Inventory</a></li>

        <li role="presentation" data-tab="other"><a href="#">Other details</a></li>

    </ul>
    <div tabindex="-1" role="dialog" aria-labelledby="examplenotModalLongTitle" aria-hidden="true">

        <div class="notModal-dialog" role="document">
            <div class="notModal-content">

                <div class="notModal-header">

                    <button id="save_changes_header" class="btn btn-secondary saveProduct">save changes</button>

                    <h5 class="Product Name" id="examplenotModalLongTitle">response.data.name</h5>

                    <button type="button" class="close" data-dismiss="no1111" aria-label="Close">

<span aria-hidden="true">&times;</span>

</button></div>

                <div class="notModal-body container">

                </div>

                <div class="notModal-footer">

                    <button type="button" id="closeBottom" class="btn btn-secondary closeBottom" data-dismiss="notModal">Close</button>

                    <button type="button" class="btn btn-primary saveProduct">Save changes</button>

                </div>
            </div>
        </div>
    </div>
        </form>
</div>
